{% extends "index.html" %}
{% block body %}

<main class="principal">
    <div class="table table-1" style="margin: 40px; margin-left: 20px;">
        <section class="table__header">
            <h1>Relação de Equipamentos</h1>
            <div class="input-group">
                <input type="search" placeholder="Filtrar...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </section>
        <section class="table__body">
            <table class="responsive-table ">
                <thead>
                    <tr>
                        <th class="cabecalho">Equipamento</th>
                        <th class="cabecalho">Faixa Nominal</th>
                        <th class="cabecalho">Unidade</th>
                        <th class="cabecalho">Grandeza</th>
                        <th class="cabecalho">Faixa de Calibracão</th>
                        <th class="cabecalho">Frabricante</th>
                        <th class="cabecalho">Preço (R$)</th>
                        <th class="cabecalho">Valor Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in list_tabela_equipamentos %}
                    <tr class="modal-trigger">
                        <td data-label="Equip">{{row[1]}}</td>
                        <td data-label="Faixa Nominal">{{row[2]}}</td>
                        <td data-label="Unidade">{{row[3]}}</td>
                        <td data-label="Grandeza">{{row[4]}}</td>
                        <td data-label="Faixa de Calibração">{{row[5]}}</td>
                        <td data-label="Fabricante">{{row[6]}}</td>
                        <td data-label="Preço">R$ {{row[7]}}</td>
                        <td data-label="Valor Total">R$ {{row[7] * 10}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
    <div class="table table-2" style="margin: 40px; margin-left: 20px;">
        <section class="table__header">
            <h1>Equipamentos Enviados</h1>
            <div class="input-group2">
                <input type="search" placeholder="Filtrar...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </section>
        <section class="table__body">
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th class="cabecalho">Tag</th>
                        <th class="cabecalho">Fornecedor</th>
                        <th class="cabecalho">Data Envio</th>
                        <th class="cabecalho">Data Chegada</th>
                        <th class="cabecalho">Duração</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lista in list_tags_enviadas %}
                    <tr>
                        <td data-label="Tag">{{lista[0]}}</td>
                        <td data-label="Equip">{{lista[1]}}</td>
                        <td data-label="Data Envio">{{lista[2]}}</td>
                        {% if lista[3] == None %}
                        <td data-label="Data - Chegada">Item ainda não chegou</td>
                        {% else %}
                        <td data-label="Data - Chegada">{{lista[3]}}</td>
                        {% endif %}
                        {% if lista[3] == None %}
                        <td data-label="Duração">Foi Enviado a: {{lista[4]}} dias</td>
                        {% else %}
                        <td data-label="Duração">Durou: {{lista[4]}} dias</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
        <div class="modal fade" id="modalGanhar" tabindex="-1" role="dialog"
            aria-labelledby="funcionarioModalLabel" aria-hidden="false">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h2 class="modal-title" id="funcionarioModalLabel"></h2>
                     <button type="button" class="close" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group2">  
                        <div class="form-modal">
                        <div class="form-row">
                          <div class="form-group" >
                            <label for="editar_nome">Equipamento</label>
                            <input type="text" class="form-control" style="height: 38px;" name="editar_nome" id="editar_nome" readonly="readonly">
                          </div>
                  
                          <div class="form-group">
                            <label for="editar_matricula">Fabricante</label>
                            <input type="text" class="form-control" style="height: 38px;" name="editar_matricula" id="editar_matricula" readonly="readonly">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group">
                            <label for="editar_salario">Grandeza</label>
                            <input type="number" class="form-control" style="height: 38px;" name="editar_salario" id="editar_salario" readonly="readonly">
                          </div>
                        
                        <div class="form-group">
                          <label for="editar_funcao">Faixa Nominal</label>
                          <input type="text" class="form-control" style="height: 38px;" name="editar_funcao" id="editar_funcao" readonly="readonly">
                        </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group" >
                              <label for="editar_nome">Faixa de Calibração</label>
                              <input type="text" class="form-control" style="height: 38px;" name="editar_nome" id="editar_nome" readonly="readonly">
                            </div>
                    
                            <div class="form-group">
                              <label for="editar_matricula">Unidade</label>
                              <input type="text" class="form-control" style="height: 38px;" name="editar_matricula" id="editar_matricula" readonly="readonly">
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal fade" id="modalGanhar2" tabindex="-1" role="dialog"
            aria-labelledby="funcionarioModalLabel" aria-hidden="false">
            <div class="modal-dialog" role="document">
               <div class="modal-content2">
                  <div class="modal-header">
                     <h2 class="modal-title" id="funcionarioModalLabel" style="margin: 10px;"></h2>
                     <button type="button" class="close" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                    <div class="table">
                        <section class="table__body">
                            <table class="responsive-table ">
                                <thead>
                                    <tr>
                                        <th class="cabecalho">N° Calibração</th>
                                        <th class="cabecalho">Data</th>
                                        <th class="cabecalho">Download</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-label="Tag">3</td>
                                        <td data-label="Equip">28/08/2023</td>
                                        <td data-label="Setor"><i class="fa-solid fa-download" style="font-size: 14px; cursor: pointer;"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
            </div>
        </div>
    </div>
    </div>
</main>
<div id="loading-overlay" style="display: none;">
    <div id="loading-spinner"></div>
 </div>
<script>
    new MultiSelectTag('ordemproducao', {
        rounded: true,    // default true
        shadow: true,      // default false
        placeholder: 'Pesquisar...',  // default Search...
        onChange: function(values) {
            console.log(values)
        }
})
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const filtrarButton = document.getElementById("filtrarOrdem");
        filtrarButton.addEventListener("click", function() {
            const select = document.getElementById("ordemproducao");
            const selectedValues = Array.from(select.selectedOptions).map(option => option.value);

            // Seleciona a tabela com o título "Ordem de Produção"
            const tabelaOrdemProducao = document.querySelector(".table:nth-of-type(2)"); // A segunda tabela

            // Seleciona apenas as linhas da tabela "Ordem de Produção"
            const tableRows = tabelaOrdemProducao.querySelectorAll(".table__body tbody tr");
            tableRows.forEach(row => {
                const codigo = row.querySelector("td:first-child").textContent;
                if (selectedValues.length === 0 || selectedValues.includes(codigo)) {
                    row.style.display = "table-row";
                } else {
                    row.style.display = "none";
                }
            });
        });
    });
</script>
<script>
   function showModalGanhar(event) {
    $("#loading-overlay").show();
    const isTable1 = event.currentTarget.closest('.table-1') !== null;
    const isTable2 = event.currentTarget.closest('.table-2') !== null;
    if (isTable1) {
            // Código para a Tabela 1
            const tag = event.currentTarget.querySelector('td').textContent;
            $.ajax({
                success: function () {
                    // Defina o texto do título do modal com base na 'tag'
                    $("#loading-overlay").hide();
                    $('.modal-title').text(tag);

                    // Exiba o modal
                    $('#modalGanhar').modal('show');
                    $('#modalGanhar').on('show.bs.modal', function () {
                        $('body').addClass('modal-open');
                    });

                    setTimeout(function() {
                        modal.style.display = 'block';
                    }, 1000);
                    // Fechar o modal ao clicar no botão de fechar
                    $('#modalGanhar').on('click', '.close', function () {
                        $('#modalGanhar').modal('hide');
                        $('body').removeClass('modal-open');
                    });
                },
                error: function (error) {
                    $("#loading-overlay").hide();
                    alert('Ocorreu um erro, recarregue a página');
                    console.log(error);
                }
            });
        } 
    }
// Obtém todos os elementos 'tr' na tabela
const trElements = document.querySelectorAll('.modal-trigger');

// Adiciona um ouvinte de eventos de clique a cada 'tr'
trElements.forEach(function(tr) {
    tr.addEventListener('click', showModalGanhar);
});
 </script>

{% endblock %}